.nav {
    grid-area: n;
    background-color: rgb(28, 100, 26);
    padding: 20px;
}

.item a {
    color:white;
    text-decoration: none;
}

.item a.activeNew {
    font-weight: bold;
    color: greenyellow;
}


